@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,700&family=Poiret+One&display=swap');

body{
	font-family: 'Poiret One', cursive;
	color: #fff;
	background-color: #000;
	font-size: 20px;
}
.sticky{
	width: 100%;
	background-color: #212529;
}

header{
	background-color: #212529;
	position: relative;
	width: 100%;
	padding: 5px 0;
	font-family: 'Bodoni Moda', serif;
}

header img{
	width: 120px;
	padding-bottom: 10px;
}

#hero {
	background-image: url("../img/pexels-derice-jason-fahnkow-1595239.jpg");
	background-size:cover;
	background-position: center;
	padding-bottom: 200px;
	padding-top: 200px;
}

#hero h1{
	font-family: 'Bodoni Moda', serif;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 30px;
	padding-left: 160px;
}
#revistas{
	background-image: url("../img/top-view-work-desk-with-coffee-keyboard.jpg");
	background-size:cover;
	background-position: center;
	padding: 150px 0;
}

#acerca {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 90px;
}

#acerca p{
	padding-top: 30px;
	padding-bottom: 30px;
}

h2{
	font-family: 'Bodoni Moda', serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	color: #fff;
	padding-bottom: 20px;
}

#acerca .las{
	font-size: 60px;
	padding-bottom: 20px;
}

#campaigns{
	padding-top: 80px;
}

#acerca h4{
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

h4{
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding-top: 20px;
	text-align: center;
}

#food{
	margin-bottom: 90px;
}

img{
	padding-top: 25px;
}

.font{
	font-size: 17px;
}

#fondo-community{
	background-image: url("../img/flat-lay-workstation-with-copy-space-laptop.jpg");
	background-size:cover;
	background-position: center;
	padding: 150px 0;
}

#fondo-community h2{
	font-family: 'Bodoni Moda', serif;
	text-transform: uppercase;
	text-align: left;
	font-size: 45px;
	color: #fff;
}

#revistas h2{
	font-family: 'Bodoni Moda', serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 45px;
	color: #fff;
}

.overlay-gris{
	background-color:rgba(40,40,40,1.00);
}

#fashion, #campaigns, #community{
	margin-bottom: 90px;
}
#impresos{
	padding-top: 80px;
}
#community ul{
	padding-top: 40px;
}

.btn-gris{
	color: #fff;
	background-color: #212529;
}

footer{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:18px;
  line-height:24px;
  color:#fff;
  align-content: center;
}

.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}

.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#CBCBCB;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}

.social-icons a.linkedin:hover
{
  background-color:#007bb6
}



